.modal-header
  %h3 Change password

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %label Old password
  %input.form-control{"ng-model" => "user_data.current_password", "type" => "password"}

  %label New password
  %input.form-control{"ng-model" => "user_data.password", "type" => "password"}

  %label New password confirmation
  %input.form-control{"ng-model" => "user_data.password_confirmation", "type" => "password"}

.modal-footer
  %button.btn.btn-primary.btn-block{:type => "button", "ng-click" => "ok($event)"} Change password
