.modal-header
  %h3 Edit division

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %label Name
  %input.form-control{"ng-model" => "division.name"}


  %p
    %label Subjects:
  .btn-group-vertical
    %label.btn.btn-default{ "ng-repeat" => "subject in subjectsData", "ng-model" => "assignedSubjects[subject.id].assigned", "btn-checkbox" => ""} {{subject.name}}

.modal-footer
  %button.btn.btn-primary{:type => "button", "ng-click" => "ok($event)"} Save
  %button.btn.btn-warning{:type => "button", "ng-click" => "cancel()"} Cancel
