%link{"rel" => "stylesheet", "property" => "stylesheet", "href" => "assets/home.scss"}

%header.header-image
  .headline
    .container
      %h1 Gradebook
      %h2 Keep track of your grades
      %h3.col-md-4.col-md-offset-4
        %button.btn.btn-home-sign-in.btn-block{"ng-click" => "openLoginModal()"} Sign in

.container
  %hr.featurette-divider
  #about.featurette
    %img.featurette-image.img-circle.img-responsive.pull-right{:src => "assets/laptop1-500.png"}/
    %h2.featurette-heading
      Switch from paper
      %span.text-muted to web application
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  %hr.featurette-divider
  #services.featurette
    %img.featurette-image.img-circle.img-responsive.pull-left{:src => "assets/laptop2-500.png"}/
    %h2.featurette-heading
      Save time
      %span.text-muted AND money.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider

  %footer
    .row
      .col-lg-12
        %p By: Lukasz Tenerowicz, Polcode, 2015 A.D.
%ui-view
