%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand Gradebook App
    %div
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{"ng-click" => "openLoginModal()"} Sign in

.jumbotron
  .container
    %h1 Gradebook Application
    %p Developed with Ruby on Rails and Angular.js.

%ui-view
