.modal-header
  %button.close{"type" => "button", "data-dismiss" => "modal",
    "aria-hidden"=>true, "ng-click" => "cancel()"}
    %span.glyphicon.glyphicon-remove
  %h3 Sign in

.modal-body
  .container-fluid
    .col-md-10.col-md-offset-1
      %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

      %label{for: 'logInEmail'} Email
      %input#logInEmail.form-control{"ng-model": 'user_credentials.email', 'name': 'email'}

      %label{for: 'logInPassword'} Password
      %input#logInPassword.form-control{"ng-model": "user_credentials.password", "type": "password", 'name': 'password'}

.modal-footer
  .col-md-8.col-md-offset-2
    %button.btn.btn-default.btn-block{:type => "button", "ng-click" => "ok($event)"} Login
