%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand Gradebook App
    %div
      %ul.nav.navbar-nav
        %li
          %a{"ng-click" => ""} Grades edit
      %ul.nav.navbar-nav.navbar-right
        %li
          %a Welcome {{current_user.name}}
        %li
          %a{"ng-click" => "logout()"} Sign out

%ui-view
