%link{"rel" => "stylesheet", "property" => "stylesheet", "href" => "assets/bootstrap-dashboard-style-addons.scss"}

%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand Gradebook App
    %div
      %ul.nav.navbar-nav.navbar-right
        %li{"dropdown" => ""}
          %a.cursor-pointer{"dropdown-toggle" => ""} Welcome {{current_user.name}}
          %ul.dropdown-menu{"role" => "menu"}
            %li{"role" => "menuitem"}
              %a{"ng-click" => "openChangePasswordModal()"} Change password

        %li
          %a{"ng-click" => "logout()"} Sign out

%ui-view
