%nav.navbar.navbar-default.navbar-static-top
  .navbar-header
    .navbar-brand Gradebook App
    %button.navbar-toggle{'data-toggle':'collapse', 'data-target': '#myNavbar'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse#myNavbar
    %ul.nav.navbar-nav.navbar-right
      %li{"dropdown" => ""}
        %a.cursor-pointer{"dropdown-toggle" => ""} Welcome {{current_user.name}}
        %ul.dropdown-menu{"role" => "menu"}
          %li{"role" => "menuitem"}
            %a{"ng-click" => "openChangePasswordModal()"} Change password
      %li
        %a{"ng-click" => "logout()"} Sign out

%ui-view
