%link{"rel" => "stylesheet", "property" => "stylesheet", "href" => "assets/bootstrap-dashboard-style-addons.scss"}

%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand Gradebook App
    %div
      %ul.nav.navbar-nav.navbar-right
        %li{"dropdown" => ""}
          %a.cursor-pointer{"dropdown-toggle" => ""} Welcome {{current_user.name}}
          %ul.dropdown-menu{"role" => "menu"}
            %li{"role" => "menuitem"}
              %a{"ng-click" => "openChangePasswordModal()"} Change password
        %li
          %a{"ng-click" => "logout()"} Sign out

.container-fluid{"ng-controller" => "PrincipalNavigationController"}
  .row.row-offcanvas.row-offcanvas-left
    .col-sm-3.col-md-2.sidebar-offcanvas#sidebar{"role" => "navigation"}
      .nav.nav-sidebar
        %li
          %a{"ng-click" => "goToStats()"}    Statistics
        %li
          %a{"ng-click" => "goToPrincipalGrades()"} Grades overview
        %li
          %a{"ng-click" => "goToStudentsCRUD()"} Students management
        %li
          %a{"ng-click" => "goToTeachersCRUD()"} Teachers management
        %li
          %a{"ng-click" => "goToDivisionsCRUD()"} Divisions Management
        %li
          %a{"ng-click" => "goToSubjectsCRUD()"} Subjects management

    .col-sm-9.col-md-10.main
      %ui-view
