.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Stats
  .panel-body
    .row
      .col-md-6
        %h4 Student counts
        %canvas#bar.chart.chart-bar{"data" => "studentCountsData", "labels" => "studentCountsLabels"}
      .col-md-6
        %h4 Grade count per subject
        %canvas#bar.chart.chart-bar{"data" => "gradesPerSubjectData", "labels" => "gradesPerSubjectLabels"}
