.modal-header
  %h3 Create Student

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %form{"name" => "form"}
    .form-group
      %label.control-label Name
      %input.form-control{"name" => "name", "ng-model" => "student.name"}

    .form-group
      %label.control-label Email
      %input.form-control.error{"name" => "email", "ng-model" => "student.email"}

    .form-group
      %label Password
      %input.form-control{"name" => "password", "ng-model" => "student.password", "type" => "password"}

    .form-group
      %label Password confirmation
      %input.form-control{"name" => "password_confirmation", "ng-model" => "student.password_confirmation", "type" => "password"}

    .form-group
      %label Division
      %select.form-control{"name" => "division", "ng-model" => "student.division_id", "ng-options" => "division.id as division.name for division in divisionsData"}

.modal-footer
  %button.btn.btn-primary{:type => "button", "ng-click" => "ok($event)"} Save
  %button.btn.btn-warning{:type => "button", "ng-click" => "cancel()"} Cancel
