.modal-header
  %h3 Create Student

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %label Name
  %input.form-control{"ng-model" => "student.name"}

  %label Email
  %input.form-control{"ng-model" => "student.email"}

  %label Password
  %input.form-control{"ng-model" => "student.password", "type" => "password"}

  %label Password confirmation
  %input.form-control{"ng-model" => "student.password_confirmation", "type" => "password"}

  %label Division
  %select.form-control{"ng-model" => "student.division_id", "ng-options" => "division.id as division.name for division in divisionsData"}

.modal-footer
  %button.btn.btn-primary{:type => "button", "ng-click" => "ok($event)"} Save
  %button.btn.btn-warning{:type => "button", "ng-click" => "cancel()"} Cancel
