.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Student - Grades
  .panel-body
    %table.table
      %thead
        %tr
          %th Subject
          %th Grade
      %tbody
        %tr{"ng-repeat" => "grade in grades"}
          %td {{ grade.subject }}
          %td {{ grade.value }}
