.modal-header
  %h3 Are you sure?

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %h3 Are you sure you want to delete teacher?

.modal-footer
  %button.btn.btn-primary{:type => "button", "ng-click" => "ok($event)"} Yes, delete!
  %button.btn.btn-warning{:type => "button", "ng-click" => "cancel()"} No, cancel
