.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Teacher - Grades
  .panel-body
    .row
      .col-md-4
        %label Select subject
        %select.form-control{"ng-options" => "item.name for item in subjects_and_divisions", "ng-model" => "selectedSubject", "ng-change" => "getGrades()"}
      .col-md-4
        %label Select division
        %select.form-control{"ng-options" => "item.name for item in selectedSubject.divisions", "ng-model" => "selectedDivision", "ng-change" => "getGrades()"}
      .col-md-4
        %p{"style" => "padding-top: 24px;" }
          %button.btn.btn-primary{"ng-click" => "getGrades()"} Submit

    %hr

    %table.table
      %thead
        %tr
          %th Student
          %th Grades
      %tbody
        %tr{"ng-repeat" => "gradeData in gradesData"}
          %td
            {{gradeData.student.name}}
          %td
            .btn-group{:role => "group"}
              .btn.btn-default{:type => "button", "ng-repeat" => "grade in gradeData.grades track by $index", "ng-click" => "openEdit(selectedSubject, gradeData.student, grade)"}
                {{grade.gradevalue}}
            %button.btn.btn-primary{"ng-click" => "openCreate(selectedSubject, gradeData.student)"}
              Add new
