.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Teacher - Grades
  .panel-body
    %table.table
      %thead
        %tr
          %th Subject
          %th Grade
      %tbody
        %tr
          %td Hai
          %td Hello
