.modal-header
  %h3 {{teacher.name}}

.modal-body
  %alert{:close => "closeAlert($index)", "ng-repeat" => "alert in alerts", :type => "{{alert.type}}"} {{alert.msg}}

  %label Name
  %p {{teacher.name}}

  %label Email
  %p {{teacher.email}}

  %label Subjects:
  %p{'ng-repeat': 'subject in teacher.subjects track by $index'} {{subject.name}}

.modal-footer
  %button.btn.btn-primary{:type => "button", "ng-click" => "ok($event)"} Save
  %button.btn.btn-warning{:type => "button", "ng-click" => "cancel()"} Cancel
