.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Teacher - Grades
  .panel-body


    %table.table
      %thead
        %tr
          %th Subject
          %th Grades
      %tbody
        %tr{"ng-repeat" => "gradeData in grades"}
          %td
            {{gradeData.subject.name}}
          %td
            .btn-group{:role => "group"}
              .btn.btn-default{:type => "button", "ng-repeat" => "grade in gradeData.grades track by $index", "ng-click" => "openEdit(gradeData.subject, gradeData.student, grade)"}
                {{grade.value}}
            %button.btn.btn-primary{"ng-click" => "openCreate(gradeData.subject, gradeData.student)"}
              Add new
