.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Teacher - Report files
  .panel-body
    .row
      .col-md-12
        %button.btn.btn-primary{"ng-click" => "generateNewReport()"} Generate new report
    %hr
    .row
      .col-md-12
        %p{"ng-repeat" => "file in reportFiles"}
          %a{"ng-show" => "file.status == 'ready'", "href" => "{{file.path}}"}
            {{file.filename}}
          %span.grayed_out{"ng-show" => "file.status == 'in_progress'"} [PENDING] {{file.filename}}
