.panel.col-md-10.col-md-offset-1
  .panel-heading
    %h1 Teacher - Report files
  .panel-body
    .row
      .col-md-12
        %button.btn.btn-primary{"ng-click" => "generateNewReport()"} Generate new report
    %hr
    .row
      .col-md-12
        %p{"ng-repeat" => "file in reportFiles"}
          %a{"href" => "{{file.path}}"}
            {{file.filename}}
